
body {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    color: blue;
}

a:visited {
    color: #570777;
}

a:hover {
    color: #0056b3;
}

main {
    width: 80%;
    padding-top: 100px;
}

/* HEADER
----------------------------*/

.header-wrapper {
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: rgba(110, 84, 11, 0.8);
    width: 1400px;
}

.nav_list {
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: center;
}

.nav_list li {
    display: inline-block;
    margin-left: 10px;
}

.header_list {
    margin-top: 0;
    margin-bottom: 0;
}


.header_list ul{
    list-style-type: none;
    height: 50;
    margin-top: 0;
    margin-bottom: 0;
}

.header_list li {
    display: inline-block;
    margin-left: 10px;
    height: 100px;
}

/* HEADER
----------------------------*/

.how_items {
    text-align: left;
}