<gp_head>
    <div class="header-wrapper">
    <ul class="header_list">
        <li>
        <a href="{{url_for('garage_proj.home')}}"><img src="static/3817208_coffee_cup_drink_icon.svg" alt=""></a>
        </li>
        <li>
        <h1>The Garage Project</h1>
        </li>
    </ul>
    <ul class="nav_list">
        <li><a href="{{url_for('garage_proj.home')}}">Home</a></li>
        <li><a href="{{url_for('garage_proj.daily')}}">Daily Data</a></li>
        <li><a href="{{url_for('garage_proj.monthly')}}">Monthly Data</a></li>
        <li><a href="{{url_for('garage_proj.about')}}">About</a></li>
    </ul>
    </div>
</gp_head>